{{#each branches }}
  <li>
    <label>
      Target Branch
      <input type="text" name="target" value="{{ target }}">
    </label>
    <label>
      Branch Pattern
      <input type="text" name="pattern" value="{{ pattern }}">
    </label>
  </li>
{{/each }}
